<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  

    <div class="container">
      <input type="text" name="search" #searchTerm placeholder="Pesquisar Gif">
    <button (click)="performSearch(searchTerm)" class="btn btn-info">Pesquisar</button>
    </div>
    <br>

    <!--card de imagens-->

    <div *ngFor="let g of giphies" class="card">
    <!-- <img src="{{g.images.original.url}}">  -->
    <img src="{{g.images.original.url}}">
    <div class="container-card">
      <p>{{g.username}}</p>
    </div>
   </div>
</div>
